<div id="GraphCreate">
    <label>Titulo:</label><br>
    <input class="form-control" style="width:250px" id="TitleAdd" type="text" ><br>
    <label>Tipo:</label><br>
    <select class="form-control" style="width:250px" id="TipoAdd">
        <option value="bar">Barra</option>
        <option value="line">Linha</option>
        <option value="tree">Arvore</option>
        <option value="pie">Pizza</option>
        <option value="table">Tabela</option>
        <option value="bubble">Bolha</option>
        <option value="map">Mapa</option>
        <option value="sankey">Diagrama de Sankey</option>

    </select>
    <br>
    <hr>
    <label>Data Frame:</label><br>
    <select class="form-control" style="width:250px" id="DataFrameAdd"></select><br>
    <hr>

    <label>Largura:</label><br>
    <input class="form-control" style="width:250px" id="WidthAdd" type="text" value="400"><br>
    <label>Altura:</label><br>
    <input class="form-control" style="width:250px" id="HeightAdd" type="text" value="400"><br>
    <label>X:</label><br>
    <input class="form-control" style="width:250px" id="XAdd" type="text" value="0"><br>
    <label>Y:</label><br>
    <input class="form-control" style="width:250px" id="YAdd" type="text" value="0"><br>
    <hr>

</div>

<script>
    for (var i = 0; i < reportData.dataFrames.length; i++) {
        var selectDFOption = document.createElement("option");
        selectDFOption.innerHTML = reportData.dataFrames[i].name;
        selectDFOption.value = reportData.dataFrames[i].name;
        document.getElementById("DataFrameAdd").appendChild(selectDFOption);
    }
</script>