<label>Data Frame:</label><br>
<select id="DataFrameAdd">
    
</select><br>
<hr>
<label>Nome da Métrica:</label><br>
<input id="MeasureNameAdd" type="text" ><br>
<label>Expressão:</label><br>
<input id="ExpressionAdd" type="text" ><br>
<hr>
<label>Largura:</label><br>
<input id="WidthAdd" type="text" value="170" ><br>
<label>Altura:</label><br>
<input id="HeightAdd" type="text" value="60"><br>
<label>X:</label><br>
<input id="XAdd" type="text" value="0"><br>
<label>Y:</label><br>
<input id="YAdd" type="text" value="0"><br>
<hr>
<label>Cor de Fundo:</label><br>
<input id="BackgroundColorAdd" type="color" value="#ff0000"><br>
<label>Cor de Texto:</label><br>
<input id="TextColorAdd" type="color" value="#000000"><br>
<label>Tamanho da Fonte:</label><br>
<input id="FontSizeAdd" type="text" value="18" ><br>

<script>
    for (var i = 0; i < reportData.dataFrames.length; i++) {
        var selectDFOption = document.createElement("option");
        selectDFOption.innerHTML = reportData.dataFrames[i].name;
        selectDFOption.value = reportData.dataFrames[i].name;
        document.getElementById("DataFrameAdd").appendChild(selectDFOption);
    }
</script>