<label>Texto:</label><br>
<textarea id="TextAdd"  class="form-control" style="width:250px"></textarea><br>
<hr>
<label>Largura:</label><br>
<input class="form-control" style="width:250px" id="WidthAdd" type="text" value="170"><br>
<label>Altura:</label><br>
<input class="form-control" style="width:250px" id="HeightAdd" type="text" value="60"><br>
<label>X:</label><br>
<input id="XAdd" type="text" value="0" class="form-control" style="width:250px"><br>
<label>Y:</label><br>
<input id="YAdd" class="form-control" style="width:250px" type="text" value="0"><br>

