@model Terz.Models.Editor.EditorView
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="~/terz/css/Editor.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/terz/LTE/plugins/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="~/terz/LTE/plugins/fontawesome-free/css/all.css">
<link rel="stylesheet" href="~/terz/LTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/terz/LTE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">



<!-- Theme style -->

<style>
    #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
    }

    #text {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 30px;
        color: white;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<body>

    <div id="overlay">

        <div id="text"><div style="margin-left:22px" class="loader"></div>  <label id="contentOverlay">Calculando...</label></div>
    </div>
    <nav style="position:fixed; z-index: 9999; background-color:white;width:100%">
        <div id="Menu" style="margin-left:5px;margin-top:0px;display:flex;border-bottom:2px solid #32bab6;padding-bottom:10px">
            <div class="dropdown">
                <button style="width:160px;height:50px;border:none;border-radius:0px" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Paginas
                    <span class="caret"></span>
                </button>
                <ul id="sheetList" class="dropdown-menu"></ul>
            </div>
            <button class="menuButton" onclick="addIndicador()"><i class="fas fa-tachometer-alt"></i> Indicador</button>
            <button class="menuButton" onclick="AddGraph()"><i class="fas fa-chart-pie"></i> Gráfico</button>
            <button class="menuButton" onclick="addTextBlock()"><i class="fas fa-font"></i>  Texto</button>
            <button class="menuButton" onclick="buildFilterSettings()"><i class="fas fa-filter"></i> Filtros</button>
            <button class="menuButton" onclick="buildOdagSettings()"><i class="fas fa-calendar-check"></i> ODAG</button>
            <button class="btn btn-block btn-success" style="font-size:19px;width:50px;height:50px;margin-left:0px;border-radius:0px;border:none" onclick="SaveReport()"><i class="fas fa-save"></i></button>
            <img style="margin-left:400px" height="40" width="40" src="~/terz/images/Terz_Logo.png" />
        </div>
    </nav>
    <div style="height:65px">

    </div>

    <div>
        <div id="SheetContainer">
            <div id="Sheet">
                <div id="Graphs" class="resize-container"></div>
            </div>
        </div>
        <div id="Settings"  style="overflow-y: scroll; height:570px;background-color:white;padding-left:10px;padding-right:10px">
            <label style="width:100%;text-align:center;margin-top:270px;color:#b5b5b5">Selecione um Objeto</label>
        </div>
    </div>
</body>


<script src="https://unpkg.com/mathjs/dist/math.min.js"></script>
<script language="JavaScript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.2.1/math.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3plus/2.0.0-alpha.14/d3plus.full.js"></script>
<script src="https://d3js.org/d3-hierarchy.v1.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script src="~/terz/LTE/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/terz/LTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/terz/LTE/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/terz/LTE/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/alasql@0.6"></script>
<!-- AdminLTE App -->

<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://cdn.amcharts.com/lib/4/maps.js"></script>
<script src="https://cdn.amcharts.com/lib/4/geodata/worldLow.js"></script>
<script src="https://covid.amCharts.com/data/js/world_timeline.js"></script>
<script src="https://covid.amCharts.com/data/js/total_timeline.js"></script>


<script src="~/terz/js/Operations.js"></script>
<script src="~/terz/js/Variables.js"></script>
<script src="~/terz/js/Filter.js"></script>
<script src="~/terz/js/Indicator.js"></script>
<script src="~/terz/js/Graph.js"></script>
<script src="~/terz/js/MapTimeLine.js"></script>
<script src="~/terz/js/Radar.js"></script>
<script src="~/terz/js/Pyramid.js"></script>
<script src="~/terz/js/CompareChart.js"></script>
<script src="~/terz/js/Gaugi.js"></script>
<script src="~/terz/js/Variance.js"></script>
<script src="~/terz/js/Waterfall.js"></script>
<script src="~/terz/js/LineDateCompareChart.js"></script>
<script src="~/terz/js/Settings.js"></script>
<script src="~/terz/js/TextBlock.js"></script>

<script>

    var defaultDocumentHeight = document.body.scrollHeight;
    window.onscroll = function (oEvent) {
        if (document.body.scrollHeight > defaultDocumentHeight) {
            document.getElementById("Settings").style.marginTop = (window.scrollY) + "px";
        }
    }
    

</script>

<script type="module">
    import interact from
        'https://cdn.interactjs.io/v1.9.19/interactjs/index.js'

    function dragMoveListener(event) {
        var target = event.target
        // keep the dragged position in the data-x/data-y attributes
        var x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx
        var y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy

        // translate the element
        target.style.webkitTransform =
            target.style.transform =
            'translate(' + x + 'px, ' + y + 'px)'

        // update the posiion attributes
        target.setAttribute('data-x', x)
        target.setAttribute('data-y', y)
    }

    // this function is used later in the resizing and gesture demos
    window.dragMoveListener = dragMoveListener;

    interact('.resize-drag')
        .draggable({
            onmove: window.dragMoveListener
        })
        .resizable({
            preserveAspectRatio: false,
            edges: { left: true, right: true, bottom: true, top: true }
        })
        .on('resizemove', function (event) {
            var target = event.target,
                x = (parseFloat(target.getAttribute('data-x')) || 0),
                y = (parseFloat(target.getAttribute('data-y')) || 0);

            // update the element's style
            target.style.width = event.rect.width + 'px';
            target.style.height = event.rect.height + 'px';

            // translate when resizing from top or left edges
            x += event.deltaRect.left;
            y += event.deltaRect.top;

            target.style.webkitTransform = target.style.transform =
                'translate(' + x + 'px,' + y + 'px)';

            target.setAttribute('data-x', x);
            target.setAttribute('data-y', y);

            //   target.textContent = event.rect.width + '×' + event.rect.height;
        });



</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script>
    function on(text) {
        document.getElementById("overlay").style.display = "block";
        document.getElementById("contentOverlay").innerHTML = text;
    }

    function off() {
        document.getElementById("overlay").style.display = "none";
    }

    function processOdag() {
        on(' Processando...');
        $.ajax(
            {
                type: 'POST',
                url: 'Odag/ProcessOdag?id=@Model.Id',
                dataType: 'html',
                cache: false,
                async: true,
                success: function (data) {
                    off();
                    alert(data);
                },
                data: reportData.config.odag

            });
    }

    function rebaixarSheet(order) {

        if (parseInt(order) >= reportData.config.sheets.length) return;

        var sheetPos = reportData.config.sheets.map(function (e) { return e.order; }).indexOf(order.toString());
        var previousSheetPos = reportData.config.sheets.map(function (e) { return e.order; }).indexOf((parseInt(order) + 1).toString());
        reportData.config.sheets[sheetPos].order = (parseInt(order) + 1).toString();
        reportData.config.sheets[previousSheetPos].order = order.toString();

        if (order.toString() == currentSheet) {
            currentSheet = (parseInt(order) + 1).toString();
        }
        if ((parseInt(order) + 1).toString() == currentSheet) {
            currentSheet = order.toString();
        }


        buildSheetMenu();
        
    }

    function promoverSheet(order) {
        if (order == '1') return;

        var sheetPos = reportData.config.sheets.map(function (e) { return e.order; }).indexOf(order.toString());
        var nextSheetPos = reportData.config.sheets.map(function (e) { return e.order; }).indexOf((parseInt(order) - 1).toString());
        reportData.config.sheets[sheetPos].order = (parseInt(order) - 1).toString();
        reportData.config.sheets[nextSheetPos].order = order.toString();

        if (order.toString() == currentSheet) {
            currentSheet = (parseInt(order) - 1).toString();
        }
        if ((parseInt(order) - 1).toString() == currentSheet) {
            currentSheet = order.toString();
        }

        buildSheetMenu();
    }

    function ExpMeasure(graphId, measureId) {
        var form;
        $.ajax(
            {
                type: 'POST',
                url: 'Editor/MeasureExp?id=' + measureId,
                dataType: 'html',
                cache: false,
                async: true,

                success: function (data) {
                    form = data;
                    bootbox.confirm(form, function (result) {
                        if (result) {

                            document.getElementById("measureExp" + measureId).value = document.getElementById("measureExp").value;
                            updateGraphConfig(graphId);


                        }

                    });

                },




            });
    }

    function ExpIndicator(id) {
        var form;
        $.ajax(
            {
                type: 'POST',
                url: 'Editor/IndiacatorExp',
                dataType: 'html',
                cache: false,
                async: true,

                success: function (data) {
                    form = data;
                    bootbox.confirm(form, function (result) {
                        if (result) {

                            document.getElementById("Expression").value = document.getElementById("indExp").value;
                            updateIndicatorConfig(id);


                        }

                    });

                },




            });
    }

    function IconSelector(id) {
        var form;
        $.ajax(
            {
                type: 'POST',
                url: 'Editor/EditIcon',
                dataType: 'html',
                cache: false,
                async: true,

                success: function (data) {
                    form = data;
                    bootbox.confirm(form, function (result) {
                        if (result) {

                            document.getElementById("Icone").value = document.getElementById("indicatorIcon").value;
                            updateIndicatorConfig(id);
                           


                        }

                    });

                },




            });
    }

    function ExpText(id) {
        var form;
        $.ajax(
            {
                type: 'POST',
                url: 'Editor/TextExp',
                dataType: 'html',
                cache: false,
                async: true,

                success: function (data) {
                    form = data;
                    bootbox.confirm(form, function (result) {
                        if (result) {

                            document.getElementById("textarea").value = document.getElementById("textExp").value;
                            updateTextBlockConfig(id);


                        }

                    });

                },




            });
    }

    function addIndicador() {
        var form;
        $.ajax(
            {
                type: 'POST',
                url: 'Editor/AddIndicador',
                dataType: 'html',
                cache: false,
                async: true,

                success: function (data) {
                    form = data;
                    bootbox.confirm(form, function (result) {
                        if (result) {

                            var indicador = {};
                            indicador["id"] = Date.now().toString();
                            indicador["dataFrameName"] = [document.getElementById("DataFrameAdd").value];
                            var style = {};
                            style["id"] = Date.now().toString();
                            style["width"] = document.getElementById("WidthAdd").value;
                            style["height"] = document.getElementById("HeightAdd").value;
                            style["x"] = document.getElementById("XAdd").value;
                            style["y"] = document.getElementById("YAdd").value;
                            style["backgroundColor"] = document.getElementById("BackgroundColorAdd").value;
                            style["textColor"] = document.getElementById("TextColorAdd").value;
                            style["fontSize"] = document.getElementById("FontSizeAdd").value;

                            indicador["style"] = style;

                            var measure = {};
                            measure["id"] = Date.now().toString();
                            measure["name"] = document.getElementById("MeasureNameAdd").value;
                            measure["expresion"] = document.getElementById("ExpressionAdd").value;

                            indicador["measure"] = measure;

                            var sheetPos = reportData.config.sheets.map(function (e) { return e.order; }).indexOf(currentSheet);

                            if (reportData.config.sheets[sheetPos].indicadors == null) {
                                reportData.config.sheets[sheetPos].indicadors = [];
                            }

                            reportData.config.sheets[sheetPos].indicators.push(indicador);

                            reloadSheet();
                            setObjEvents();

                        }

                    });

                },




            });
    }

    function addTextBlock() {
        var form;
        $.ajax(
            {
                type: 'POST',
                url: 'Editor/AddTextBlock',
                dataType: 'html',
                cache: false,
                async: true,

                success: function (data) {
                    form = data;
                    bootbox.confirm(form, function (result) {
                        if (result) {

                            var textBlock = {};
                            textBlock["id"] = Date.now().toString();

                            var style = {};
                            style["id"] = Date.now().toString();
                            style["width"] = document.getElementById("WidthAdd").value;
                            style["height"] = document.getElementById("HeightAdd").value;
                            style["x"] = document.getElementById("XAdd").value;
                            style["y"] = document.getElementById("YAdd").value;


                            textBlock["style"] = style;
                            textBlock["text"] = document.getElementById("TextAdd").value;


                            var sheetPos = reportData.config.sheets.map(function (e) { return e.order; }).indexOf(currentSheet);

                            if (reportData.config.sheets[sheetPos].textBlocks == null) {
                                reportData.config.sheets[sheetPos].textBlocks = [];
                            }

                            reportData.config.sheets[sheetPos].textBlocks.push(textBlock);

                            reloadSheet();
                            setObjEvents();

                        }

                    });

                },




            });
    }

    function AddGraph() {
        var form;
        $.ajax(
            {
                type: 'POST',
                url: 'Editor/AddGraph',
                dataType: 'html',
                cache: false,
                async: true,

                success: function (data) {
                    form = data;
                    bootbox.confirm(form, function (result) {
                        if (result) {

                            var graph = {};
                            graph["id"] = Date.now().toString();
                            graph["dataFrameName"] = [document.getElementById("DataFrameAdd").value];
                            graph["title"] = document.getElementById("TitleAdd").value;
                            graph["objectType"] = document.getElementById("TipoAdd").value;
                            var style = {};
                            style["id"] = Date.now().toString();
                            style["width"] = document.getElementById("WidthAdd").value;
                            style["height"] = document.getElementById("HeightAdd").value;
                            style["x"] = document.getElementById("XAdd").value;
                            style["y"] = document.getElementById("YAdd").value;


                            graph["style"] = style;

                            graph["measures"] = [];
                            graph["dimensions"] = [];



                            var sheetPos = reportData.config.sheets.map(function (e) { return e.order; }).indexOf(currentSheet);
                            if (reportData.config.sheets[sheetPos].graphs == null) {
                                reportData.config.sheets[sheetPos].graphs = [];
                            }
                            reportData.config.sheets[sheetPos].graphs.push(graph);

                            reloadSheet();
                            setObjEvents();

                        }

                    });

                },




            });
    }

    function copyGraph(id) {
        var sheetPos = reportData.config.sheets.map(function (e) { return e.order; }).indexOf(currentSheet);
        var graphPos = reportData.config.sheets[sheetPos].graphs.map(function (e) { return e.id; }).indexOf(id);

        var cGraph = JSON.parse(JSON.stringify(reportData.config.sheets[sheetPos].graphs[graphPos]));
        cGraph.id = Date.now().toString();
        cGraph.style.id = Date.now().toString();
        cGraph.style.x = 10;
        cGraph.style.y = 10;

        reportData.config.sheets[sheetPos].graphs.push(cGraph);

        reloadSheet();
        setObjEvents();



    }

    function copyIndicator(id) {
        var sheetPos = reportData.config.sheets.map(function (e) { return e.order; }).indexOf(currentSheet);
        var indicatorPos = reportData.config.sheets[sheetPos].indicators.map(function (e) { return e.id; }).indexOf(id);

        var cIndicator = JSON.parse(JSON.stringify(reportData.config.sheets[sheetPos].indicators[indicatorPos]));
        cIndicator.id = Date.now().toString();
        cIndicator.style.id = Date.now().toString();
        cIndicator.style.x = 10;
        cIndicator.style.y = 10;

        reportData.config.sheets[sheetPos].indicators.push(cIndicator);

        reloadSheet();
        setObjEvents();



    }

    function copyTextBlock(id) {
        var sheetPos = reportData.config.sheets.map(function (e) { return e.order; }).indexOf(currentSheet);
        var textBlockPos = reportData.config.sheets[sheetPos].textBlocks.map(function (e) { return e.id; }).indexOf(id);

        var cTextBlock = JSON.parse(JSON.stringify(reportData.config.sheets[sheetPos].textBlocks[textBlockPos]));
        cTextBlock.id = Date.now().toString();
        cTextBlock.style.id = Date.now().toString();
        cTextBlock.style.x = 10;
        cTextBlock.style.y = 10;

        reportData.config.sheets[sheetPos].textBlocks.push(cTextBlock);

        reloadSheet();
        setObjEvents();



    }

    function copySheet(id) {
        var sheetPos = reportData.config.sheets.map(function (e) { return e.order; }).indexOf(id);
        var cSheet = JSON.parse(JSON.stringify(reportData.config.sheets[sheetPos]));
        cSheet.id = Date.now().toString();
        cSheet.order = (reportData.config.sheets.length + 1).toString();

        reportData.config.sheets.push(cSheet);
        buildSheetMenu();

    }

    function AddSheet() {
        var sheet = {}
        sheet["id"] = Date.now().toString();
        sheet["name"] = "Nova Pasta";
        sheet["order"] = (reportData.config.sheets.length + 1).toString();
        sheet["graphs"] = [];
        sheet["indicators"] = [];
        sheet["filters"] = [];

        reportData.config.sheets.push(sheet);
        buildSheetMenu();
        changeSheet(sheet["order"]);

    }

    var ConfigBackup;

      function init() {
        loadUsingDataFrames();
        buildSheetMenu();
        buildIndicators(currentSheet);
          buildGraphs(currentSheet);
          buildTextBlocks(currentSheet);
          setObjEvents();
          ConfigBackup = JSON.parse(JSON.stringify(reportData.config));

    }


    function updateSheetConfig(id) {
        var sheetPos = reportData.config.sheets.map(function (e) { return e.id; }).indexOf(id);

        if (reportData.config.sheets[sheetPos].style == null) {
            reportData.config.sheets[sheetPos].style = {};
        }

        reportData.config.sheets[sheetPos].name = document.getElementById("sheetName").value;
        reportData.config.sheets[sheetPos].style.backgroundColor = document.getElementById("BackgroundColor").value;
        buildSheetMenu();


    }

    function updateFilterConfig(id) {
        var sheetPos = reportData.config.sheets.map(function (e) { return e.order; }).indexOf(currentSheet);
        var filterPos = reportData.config.sheets[sheetPos].filters.map(function (e) { return e.id; }).indexOf(id);

        var dfOptions = document.getElementsByName("DataFrame" + id);
        var selectedDFs = [];
        for (var i = 0; i < dfOptions.length; i++) {

            if (dfOptions[i].checked) {
                selectedDFs.push(dfOptions[i].value);
            }
        }

        reportData.config.sheets[sheetPos].filters[filterPos].dataFrameName = selectedDFs;



        reportData.config.sheets[sheetPos].filters[filterPos].dimension.name = document.getElementById("filterName" + id).value;
        reportData.config.sheets[sheetPos].filters[filterPos].dimension.field = document.getElementById("filterField" + id).value;
        buildFilterSettings();
    }

    function setOdagActive() {
        reportData.config.odag.active = document.getElementById("OdagActive").checked;
        buildOdagSettings();
    }

    function updateOdagConfig(name) {
       
        var filterPos = reportData.config.odag.odagFields.map(function (e) { return e.name; }).indexOf(name);

        var dfOptions = document.getElementsByName("DataFrame" + name);
        var selectedDFs = [];
        for (var i = 0; i < dfOptions.length; i++) {

            if (dfOptions[i].checked) {
                selectedDFs.push(dfOptions[i].value);
            }
        }

        reportData.config.odag.odagFields[filterPos].dataFrames = selectedDFs;



        reportData.config.odag.odagFields[filterPos].name = document.getElementById("OdagName" + name).value;
        reportData.config.odag.odagFields[filterPos].field = document.getElementById("OdagField" + name).value;
        reportData.config.odag.odagFields[filterPos].maxValues = document.getElementById("OdagMaxValue" + name).value;
        buildOdagSettings();
    }

    function updateIndicatorDataFrame(id) {
        var dfOptions = document.getElementsByName("DataFrame");
        var selectedDFs = [];
        for (var i = 0; i < dfOptions.length; i++) {

            if (dfOptions[i].checked) {
                selectedDFs.push(dfOptions[i].value);
            }
        }
        var sheetPos = reportData.config.sheets.map(function (e) { return e.order; }).indexOf(currentSheet);
        var indicatorPos = reportData.config.sheets[sheetPos].indicators.map(function (e) { return e.id; }).indexOf(id);
        reportData.config.sheets[sheetPos].indicators[indicatorPos].dataFrameName = selectedDFs;

        loadUsingDataFrames();
        updateIndicatorConfig(id);

    }

    function updateIndicatorConfig(id) {
        var sheetPos = reportData.config.sheets.map(function (e) { return e.order; }).indexOf(currentSheet);
        var indicatorPos = reportData.config.sheets[sheetPos].indicators.map(function (e) { return e.id; }).indexOf(id);

        reportData.config.sheets[sheetPos].indicators[indicatorPos].navigateTo = document.getElementById("Navigation").value;
        reportData.config.sheets[sheetPos].indicators[indicatorPos].icon = document.getElementById("Icone").value;
        reportData.config.sheets[sheetPos].indicators[indicatorPos].measure.name = document.getElementById("MeasureName").value;
        reportData.config.sheets[sheetPos].indicators[indicatorPos].measure.expresion = document.getElementById("Expression").value;
        reportData.config.sheets[sheetPos].indicators[indicatorPos].measure.numberFormat = document.getElementById("Format").value;
        reportData.config.sheets[sheetPos].indicators[indicatorPos].style.width = document.getElementById("Width").value;
        reportData.config.sheets[sheetPos].indicators[indicatorPos].style.height = document.getElementById("Height").value;
        reportData.config.sheets[sheetPos].indicators[indicatorPos].style.x = document.getElementById("X").value;
        reportData.config.sheets[sheetPos].indicators[indicatorPos].style.y = document.getElementById("Y").value;
        reportData.config.sheets[sheetPos].indicators[indicatorPos].style.backgroundColor = document.getElementById("BackgroundColor").value;
        reportData.config.sheets[sheetPos].indicators[indicatorPos].style.textColor = document.getElementById("TextColor").value;
        reportData.config.sheets[sheetPos].indicators[indicatorPos].style.fontSize = document.getElementById("FontSize").value;
        reportData.config.sheets[sheetPos].indicators[indicatorPos].style.borderColor = document.getElementById("BorderColor").value;
        reportData.config.sheets[sheetPos].indicators[indicatorPos].style.borderThickness = document.getElementById("BordeThickness").value;
        reportData.config.sheets[sheetPos].indicators[indicatorPos].style.borderRadius = document.getElementById("BordeRadius").value;


        reloadSheet();
        setObjEvents();
    }

    function updateTextBlockConfig(id) {
        var sheetPos = reportData.config.sheets.map(function (e) { return e.order; }).indexOf(currentSheet);
        var textBlockPos = reportData.config.sheets[sheetPos].textBlocks.map(function (e) { return e.id; }).indexOf(id);

        reportData.config.sheets[sheetPos].textBlocks[textBlockPos].title = document.getElementById("Title").value;
        reportData.config.sheets[sheetPos].textBlocks[textBlockPos].text = document.getElementById("textarea").value;
        reportData.config.sheets[sheetPos].textBlocks[textBlockPos].style.width = document.getElementById("Width").value;
        reportData.config.sheets[sheetPos].textBlocks[textBlockPos].style.height = document.getElementById("Height").value;
        reportData.config.sheets[sheetPos].textBlocks[textBlockPos].style.x = document.getElementById("X").value;
        reportData.config.sheets[sheetPos].textBlocks[textBlockPos].style.y = document.getElementById("Y").value;
        reportData.config.sheets[sheetPos].textBlocks[textBlockPos].style.backgroundColor = document.getElementById("BackgroundColor").value;

        reloadSheet();
        setObjEvents();
    }



    function updateIndicatorDimensions(id) {
        var sheetPos = reportData.config.sheets.map(function (e) { return e.order; }).indexOf(currentSheet);
        var indicatorPos = reportData.config.sheets[sheetPos].indicators.map(function (e) { return e.id; }).indexOf(id);
        var transform = document.getElementById("ind" + id).style.transform.replace('translate', '').replace('(', '').replace(')', '').replace('px', '').replace('px', '').split(',');

        reportData.config.sheets[sheetPos].indicators[indicatorPos].style.width = parseInt(document.getElementById("ind" + id).style.width);
        reportData.config.sheets[sheetPos].indicators[indicatorPos].style.height = parseInt(document.getElementById("ind" + id).style.height);
        if (transform != "" && transform != null) {
            var x = parseInt(reportData.config.sheets[sheetPos].indicators[indicatorPos].style.x) + parseInt(transform[0]);
            reportData.config.sheets[sheetPos].indicators[indicatorPos].style.x = x.toString();
            var y = parseInt(reportData.config.sheets[sheetPos].indicators[indicatorPos].style.y) + parseInt(transform[1]);
            reportData.config.sheets[sheetPos].indicators[indicatorPos].style.y = y.toString();
        }
       reloadSheet();
        setObjEvents();
        buildIndicatorSettings(id);
    }

    function updateGraphDimensions(id) {
        var sheetPos = reportData.config.sheets.map(function (e) { return e.order; }).indexOf(currentSheet);
        var graphPos = reportData.config.sheets[sheetPos].graphs.map(function (e) { return e.id; }).indexOf(id);
        var transform = document.getElementById("gc" + id).style.transform.replace('translate', '').replace('(', '').replace(')', '').replace('px', '').replace('px', '').split(',');

        reportData.config.sheets[sheetPos].graphs[graphPos].style.width = parseInt(document.getElementById("gc" + id).style.width);
        reportData.config.sheets[sheetPos].graphs[graphPos].style.height = parseInt(document.getElementById("gc" + id).style.height);
        if (transform != "" && transform != null) {
            var x = parseInt(reportData.config.sheets[sheetPos].graphs[graphPos].style.x) + parseInt(transform[0]);
            reportData.config.sheets[sheetPos].graphs[graphPos].style.x = x.toString();
            var y = parseInt(reportData.config.sheets[sheetPos].graphs[graphPos].style.y) + parseInt(transform[1]);
            reportData.config.sheets[sheetPos].graphs[graphPos].style.y = y.toString();
        }

        reloadSheet();
        setObjEvents();
        buildGraphSettings(id);
    }

    function updateTextBlockDimensions(id) {
        var sheetPos = reportData.config.sheets.map(function (e) { return e.order; }).indexOf(currentSheet);
        var textBlockPos = reportData.config.sheets[sheetPos].textBlocks.map(function (e) { return e.id; }).indexOf(id);
        var transform = document.getElementById("txt" + id).style.transform.replace('translate', '').replace('(', '').replace(')', '').replace('px', '').replace('px', '').split(',');

        reportData.config.sheets[sheetPos].textBlocks[textBlockPos].style.width = parseInt(document.getElementById("txt" + id).style.width);
        reportData.config.sheets[sheetPos].textBlocks[textBlockPos].style.height = parseInt(document.getElementById("txt" + id).style.height);
        if (transform != "" && transform != null) {
            var x = parseInt(reportData.config.sheets[sheetPos].textBlocks[textBlockPos].style.x) + parseInt(transform[0]);
            reportData.config.sheets[sheetPos].textBlocks[textBlockPos].style.x = x.toString();
            var y = parseInt(reportData.config.sheets[sheetPos].textBlocks[textBlockPos].style.y) + parseInt(transform[1]);
            reportData.config.sheets[sheetPos].textBlocks[textBlockPos].style.y = y.toString();
        }

        reloadSheet();
        setObjEvents();
        buildTextBlockSettings(id);
    }

    function updateGraphDataFrame(id) {
        on(' Calculando...');
        var dfOptions = document.getElementsByName("DataFrame");
        var selectedDFs = [];
        for (var i = 0; i < dfOptions.length; i++) {

            if (dfOptions[i].checked) {
                selectedDFs.push(dfOptions[i].value);
            }
        }
        var sheetPos = reportData.config.sheets.map(function (e) { return e.order; }).indexOf(currentSheet);
        var graphPos = reportData.config.sheets[sheetPos].graphs.map(function (e) { return e.id; }).indexOf(id);
        reportData.config.sheets[sheetPos].graphs[graphPos].dataFrameName = selectedDFs;

        loadUsingDataFrames();
        updateGraphConfig(id);
        off();
    }

    function updateGraphConfig(id) {
        var sheetPos = reportData.config.sheets.map(function (e) { return e.order; }).indexOf(currentSheet);
        var graphPos = reportData.config.sheets[sheetPos].graphs.map(function (e) { return e.id; }).indexOf(id);

        if (document.getElementById("ExecuteMode").checked) {
            reportData.config.sheets[sheetPos].graphs[graphPos].executeMode = "1";
        }
        else {
            reportData.config.sheets[sheetPos].graphs[graphPos].executeMode = "0";
        }
        
        reportData.config.sheets[sheetPos].graphs[graphPos].title = document.getElementById("Title").value;
        reportData.config.sheets[sheetPos].graphs[graphPos].style.width = document.getElementById("Width").value;
        reportData.config.sheets[sheetPos].graphs[graphPos].style.height = document.getElementById("Height").value;
        reportData.config.sheets[sheetPos].graphs[graphPos].style.x = document.getElementById("X").value;
        reportData.config.sheets[sheetPos].graphs[graphPos].style.y = document.getElementById("Y").value;
        reportData.config.sheets[sheetPos].graphs[graphPos].style.backgroundColor = document.getElementById("BackgroundColor").value;
        reportData.config.sheets[sheetPos].graphs[graphPos].style.colorList = document.getElementById("ColorList").value;

        if (reportData.config.sheets[sheetPos].graphs[graphPos].objectType == 'map') {
            reportData.config.sheets[sheetPos].graphs[graphPos].style.region = document.getElementById("Region").value;
        }

        if (reportData.config.sheets[sheetPos].graphs[graphPos].objectType == 'bar') {
            reportData.config.sheets[sheetPos].graphs[graphPos].style.orientation = document.getElementById("Orientation").value;
            reportData.config.sheets[sheetPos].graphs[graphPos].style.stack = document.getElementById("Stack").checked;
        }


        for (var i = 0; i < reportData.config.sheets[sheetPos].graphs[graphPos].dimensions.length; i++) {
            var dimId = reportData.config.sheets[sheetPos].graphs[graphPos].dimensions[i].id;
            reportData.config.sheets[sheetPos].graphs[graphPos].dimensions[i].name = document.getElementById("dimname" + dimId).value;
            reportData.config.sheets[sheetPos].graphs[graphPos].dimensions[i].field = document.getElementById("dimfield" + dimId).value;
        }

        for (var i = 0; i < reportData.config.sheets[sheetPos].graphs[graphPos].measures.length; i++) {
            var measureId = reportData.config.sheets[sheetPos].graphs[graphPos].measures[i].id;
            reportData.config.sheets[sheetPos].graphs[graphPos].measures[i].name = document.getElementById("measureName" + measureId).value;
            reportData.config.sheets[sheetPos].graphs[graphPos].measures[i].expresion = document.getElementById("measureExp" + measureId).value;
            reportData.config.sheets[sheetPos].graphs[graphPos].measures[i].numberFormat = document.getElementById("FormatMeasure" + measureId).value;
            reportData.config.sheets[sheetPos].graphs[graphPos].measures[i].color = document.getElementById("MeasureColor" + measureId).value;
        }




        reportData.config.sheets[sheetPos].graphs[graphPos].sort = {

            type: document.getElementById("SortType").value,
            option: document.getElementById("SortOption").value,
            axis: document.getElementById("SortAxis").value
        };

        switch (reportData.config.sheets[sheetPos].graphs[graphPos].objectType) {
            case 'bar': { updateBarChart(sheetPos, graphPos); break; }
            case 'pie': { updatePieChart(sheetPos, graphPos); break; }
            case 'line': { updateLineChart(sheetPos, graphPos); break; }
            case 'tree': { updateTreeMap(sheetPos, graphPos); break; }
            default: break;
        }

        reloadSheet();
        setObjEvents();
    }

    function updateBarChart(sheetPos, graphPos) {


    }

    function updatePieChart(sheetPos, graphPos) {

    }

    function updateLineChart(sheetPos, graphPos) {

    }

    function updateTreeMap(sheetPos, graphPos) {

    }


    function setObjEvents() {
        var sheets = reportData.config.sheets.filter(function (x) { return x.order == currentSheet });
        var sLenght;
        if (sheets == null) {
            sLenght = 0;
        }
        else {
            sLenght = sheets.length;
        }
        for (var i = 0; i < sLenght; i++) {
            var sheet = sheets[i];
            //indicator
            var indicators = sheet.indicators;
            var iLenght;
            if (indicators == null) {
                iLenght = 0;
            }
            else {
                iLenght = indicators.length;
            }
            for (var j = 0; j < iLenght; j++) {
                var indicator = indicators[j];
                document.getElementById("ind" + indicator.id).setAttribute("onclick", "indicatorSettings('" + indicator.id + "')");
                document.getElementById("ind" + indicator.id).setAttribute("onmouseup", "updateIndicatorDimensions('" + indicator.id + "')");
            }
            //graph
            var graphs = sheet.graphs;
            var gLenght;
            if (graphs == null) {
                gLenght = 0;
            }
            else {
                gLenght = graphs.length;
            }
            for (var j = 0; j < gLenght; j++) {
                var graph = graphs[j];
                document.getElementById("gc" + graph.id).setAttribute("onclick", "graphSettings('" + graph.id + "')");
                document.getElementById("gc" + graph.id).setAttribute("onmouseup", "updateGraphDimensions('" + graph.id + "')");
            }

            //txt
            var textBlocks = sheet.textBlocks;
            var tLenght;
            if (textBlocks == null) {
                tLenght = 0;
            }
            else {
                tLenght = textBlocks.length;
            }
            for (var j = 0; j < tLenght; j++) {
                var textBlock = textBlocks[j];
                document.getElementById("txt" + textBlock.id).setAttribute("onclick", "textBlockSettings('" + textBlock.id + "')");
                document.getElementById("txt" + textBlock.id).setAttribute("onmouseup", "updateTextBlockDimensions('" + textBlock.id + "')");
            }

        }
    }

    function indicatorSettings(id) {
        buildIndicatorSettings(id);
    }
    function graphSettings(id) {
        buildGraphSettings(id);
    }
    function textBlockSettings(id) {
        buildTextBlockSettings(id);
    }
    function reloadGraph(id) {
        var graphId = id.substr(2);
        var graph = reportData.config.sheets.filter(function (x) { return x.order == sheetOrder })[0].graphs.filter(function (y) { return y.id == graphId })[0];
        switch (graph.objectType) {

            case 'bar': { buildBarChart(graph); break; }
            case 'pie': { buildPieChart(graph); break; }
            case 'line': { buildLineChart(graph); break; }
            case 'tree': { buildTreeMap(graph); break; }
            case 'network': { buildNetWorkGraph(graph); break; }
            case 'table': { buildTable(graph); break; }
            case 'bubble': { buildBubbleChart(graph); break; }
            case 'map': { buildMapChart(graph); break; }
            case 'sankey': { buildSankeyChart(graph); break; }
            case 'org': { buildOrgChart(graph); break; }
            default: break;


        }
    }

    function buildSheetMenu() {
        var content = document.getElementById("sheetList");
        while (content.firstChild) {
            content.removeChild(content.lastChild);
        }

        var sheets = reportData.config.sheets.sort(function (a, b) {
            return parseInt(a.order) - parseInt(b.order);
        });
        var sheetBody = document.createElement("div");
        sheetBody.style.overflowY = "auto";
        sheetBody.style.maxHeight = "450px";
        for (var i = 0; i < sheets.length; i++) {
            var liSheet = document.createElement("li");
            liSheet.style.width = "300px";
            liSheet.style.borderBottom = "1px solid black";
            var divSheet = document.createElement("div");
            divSheet.style.display = "flex";
            var aSheet = document.createElement("a");
            aSheet.setAttribute("class", "btn btn-block btn-secondary btn-sm");
            aSheet.style.marginLeft = "10px";
            aSheet.style.width = "200px";
            
            aSheet.appendChild(document.createTextNode(sheets[i].name));
            aSheet.setAttribute("href", "#");
            aSheet.setAttribute("onclick", "changeSheet('" + sheets[i].order + "')");
            divSheet.appendChild(aSheet);
            var editbutton = document.createElement("button");
            var editIcon = document.createElement("i");
            editIcon.setAttribute("class", "fa fa-edit");
            editbutton.appendChild(editIcon);
            editbutton.style.width = "30px";
            editbutton.style.marginLeft = "10px";
            editbutton.style.border = "none";
            editbutton.style.backgroundColor = "white";
            editbutton.setAttribute("onclick", "buildSheetSettings('" + sheets[i].id + "')");

            divSheet.appendChild(editbutton);

            var promote = document.createElement("a");
            promote.setAttribute("onclick", "promoverSheet(" + sheets[i].order + ")");
            promote.setAttribute("href", "#");
            promote.style.textDecoration = "none";
            promote.style.fontSize = "18px";
            var iPromote = document.createElement("i");
            iPromote.setAttribute("class", "fas fa-chevron-up");
            promote.appendChild(iPromote);
            divSheet.appendChild(promote);

            var decline = document.createElement("a");
            decline.setAttribute("onclick", "rebaixarSheet(" + sheets[i].order + ")");
            decline.setAttribute("href", "#");
            decline.style.textDecoration = "none";
            decline.style.fontSize = "18px";
            decline.style.marginLeft = "5px";
            var iDecline = document.createElement("i");
            iDecline.setAttribute("class", "fas fa-chevron-down");
            decline.appendChild(iDecline);
            divSheet.appendChild(decline);
            liSheet.appendChild(divSheet);
            sheetBody.appendChild(liSheet)
            

        }
        document.getElementById("sheetList").appendChild(sheetBody);

        var liAddSheet = document.createElement("li");
        var buttonSheet = document.createElement("button");
        buttonSheet.appendChild(document.createTextNode("Nova Pasta"));
        buttonSheet.setAttribute("href", "#");
        buttonSheet.setAttribute("onclick", "AddSheet()");
        buttonSheet.setAttribute("class", "btn btn-block btn-info btn-sm");
        buttonSheet.style.margin = "10px";
        buttonSheet.style.width = "90%";
        liAddSheet.appendChild(buttonSheet);
        document.getElementById("sheetList").appendChild(liAddSheet);


    }







    function loadUsingDataFrames() {
        console.log("init");
        AllDFS = JSON.parse(JSON.stringify(reportData.dataFrames));
        for (var i = 0; i < reportData.config.sheets.length; i++) {
            for (var j = 0; j < reportData.config.sheets[i].indicators.length; j++) {
                var df = reportData.config.sheets[i].indicators[j].dataFrameName;
                var dfs = df.join(",");
                console.log(df);
                console.log(dfs);
                if (df.length > 1 && AllDFS.findIndex(i => i.name == dfs) == -1) {
                    var group = {};
                    group["name"] = dfs;
                    var table = JSON.parse(JSON.stringify(AllDFS.filter(function (x) { return x.name == df[0] })[0].table));
                    for (var k = 1; k < df.length; k++) {
                        table = fulljoin(table, JSON.parse(JSON.stringify(AllDFS.filter(function (x) { return x.name == df[k] })[0].table)));
                    }
                    group["table"] = table;
                    console.log("group" + group);
                    AllDFS.push(group);
                }

                let pattern = /[^\s]+\.externalDF\(.+?\)/g;
                let res = pattern.exec(reportData.config.sheets[i].indicators[j].measure.expression);
                while (res != null) {
                    var eExpression = res[0];
                    let ePattern = /externalDF\(.+?\)/g;
                    let eRes = ePattern.exec(eExpression)[0];
                    var edfs = eRes.replace('externalDF(', '').replace(')', '');
                    var edfNames = edfs.split(',');
                    if (AllDFS.findIndex(i => i.name == edfs) == -1) {
                        var group = {};
                        group["name"] = edfs;
                        var table = JSON.parse(JSON.stringify(AllDFS.filter(function (x) { return x.name == edfNames[0] })[0].table));
                        for (var k = 1; k < edfNames.length; k++) {
                            table = fulljoin(table, JSON.parse(JSON.stringify(AllDFS.filter(function (x) { return x.name == edfNames[k] })[0].table)));
                        }
                        group["table"] = table;
                        AllDFS.push(group);
                    }


                    res = pattern.exec(expression);
                }
            }



            for (var j = 0; j < reportData.config.sheets[i].graphs.length; j++) {
                var df = reportData.config.sheets[i].graphs[j].dataFrameName;
                var dfs = df.join(",");
                if (df.length > 1 && AllDFS.findIndex(i => i.name == dfs) == -1) {
                    var group = {};
                    group["name"] = dfs;
                    var table = JSON.parse(JSON.stringify(AllDFS.filter(function (x) { return x.name == df[0] })[0].table));
                    for (var k = 1; k < df.length; k++) {
                        table = fulljoin(table, JSON.parse(JSON.stringify(AllDFS.filter(function (x) { return x.name == df[k] })[0].table)));
                    }
                    group["table"] = table;
                    AllDFS.push(group);
                }

                for (l = 0; l < reportData.config.sheets[i].graphs[j].measures.length; l++) {
                    let pattern = /[^\s]+\.externalDF\(.+?\)/g;
                    let res = pattern.exec(reportData.config.sheets[i].graphs[j].measures[l].expression);
                    while (res != null) {
                        var eExpression = res[0];
                        let ePattern = /externalDF\(.+?\)/g;
                        let eRes = ePattern.exec(eExpression)[0];
                        var edfs = eRes.replace('externalDF(', '').replace(')', '');
                        var edfNames = edfs.split(',');
                        if (AllDFS.findIndex(i => i.name == edfs) == -1) {
                            var group = {};
                            group["name"] = edfs;
                            var table = JSON.parse(JSON.stringify(AllDFS.filter(function (x) { return x.name == edfNames[0] })[0].table));
                            for (var k = 1; k < edfNames.length; k++) {
                                table = fulljoin(table, JSON.parse(JSON.stringify(AllDFS.filter(function (x) { return x.name == edfNames[k] })[0].table)));
                            }
                            group["table"] = table;
                            AllDFS.push(group);
                        }


                        res = pattern.exec(expression);
                    }
                }
            }


        }
        usingDataFrames = JSON.parse(JSON.stringify(AllDFS));
    }


    function reloadSheet() {
        var graphs = document.getElementById("Graphs");
        while (graphs.firstChild) {
            graphs.removeChild(graphs.lastChild);
        }


        buildIndicators(currentSheet);
        buildGraphs(currentSheet);
        buildTextBlocks(currentSheet);
    }

    function changeSheet(sheetOrder) {
        currentSheet = sheetOrder;
        reloadSheet();
        setObjEvents();
    }






    function GetReportData(){
        on(' Carregando...');

        $.ajax(
            {
                type: 'POST',
                url: 'Editor/GetReportData?id=@Model.Id',
                dataType: 'json',
                cache: false,
                async: true,
                success: function (data) {

                    reportData = data;

                    init();
                    off();
                }

            });


    }

    function SaveReport() {
        on(' Salvando...');
        $.ajax(
            {
                type: 'POST',
                url: 'Editor/UploadConfig?id=@Model.Id',
                dataType: 'html',
                cache: false,
                async: true,
                success: function (data) {
                    off();
                    alert(data);
                },
                data: reportData.config

            });
    }

    GetReportData();
</script>