#Sheet{
    margin-bottom:30px;
    width:80%;
    float:left;
}
#Settings{
    width:18%;
    float:right;
    margin-right:20px;
}

.menuButton {
    background-color: #32a2a8;
    margin-left: 12px;
    color: white;
    width:160px;
    height:40px;
    font-size: 18px;
    border:none;
    border-radius:4px;
}
    .meunuButton:hover {
        background-color: white;
        color: #32a2a8;
    }

