@model Terz.Models.QueryEditor.AddFilterView
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<label>Selecione o Filtro:</label>
<br />
<select class="form-control" style="width:200px" id="FilterName">
    @foreach (string filter in Model.Filters)
    {
        <option value="@filter">@filter</option>
    }
</select>