@model Terz.Models.Report.SobreView


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Raleway:600|Work+Sans" rel="stylesheet">
<link rel="stylesheet" href="~/terz/css/Sobre.css" />

<div class="card-container">
    @if (Model.Usuario.Foto == "")
    {
        <img width="200" class="round" src="~/terz/images/defaultuser.jpg" alt="user" />
    }
    else
    {
        <img width="200" class="round" src="@Model.Usuario.Foto" alt="user" />
    }

    <h3>@Model.Usuario.Nome</h3>
    <h6>@Model.Usuario.Lugar</h6>
    <p>User interface designer and <br /> front-end developer</p>
   
    <div class="skills">
        <h6>Skills</h6>
        <ul>
            <li>UI / UX</li>
            <li>Front End Development</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>Node</li>
        </ul>
    </div>
</div>




