.column1 {
    width: 65%;
    padding-left: 30px;
}

.column2 {
    width: 15%;
}

.column3{
    width:20%
}

#TableFiles{
    width:70%;
    margin-left:15%;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }